<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="devcpu.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="devcpu.perspectives.DCPUHybridPerspective"
            icon="icons/dasm.png"
            id="devcpu.perspectives.hybrid"
            name="DevCPU Hybrid">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="devcpu.Development"
            name="Development">
      </category>
      <category
            id="devcpu.Emulation"
            name="Emulation">
      </category>
      <category
            id="devcpu.HardwareVisualization"
            name="Hardware Visualization">
      </category>
      <view
            allowMultiple="false"
            category="devcpu.HardwareVisualization"
            class="devcpu.views.SPED3View"
            icon="icons/sped.png"
            id="devcpu.views.SPED3View"
            name="SPED-3"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="devcpu.HardwareVisualization"
            class="devcpu.views.LEM1802View"
            icon="icons/lem.png"
            id="devcpu.views.LEM1802View"
            name="LEM1802"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="devcpu.HardwareVisualization"
            class="devcpu.views.KeyboardView"
            icon="icons/keyboard.png"
            id="devcpu.views.KeyboardView"
            name="Keyboard"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="devcpu.Emulation"
            class="devcpu.views.DCPUView"
            icon="icons/dcpu.png"
            id="devcpu.views.DCPUView"
            name="DCPU"
            restorable="true">
      </view>
      <view
            category="devcpu.Emulation"
            class="devcpu.views.DeviceManagerView"
            icon="icons/devnav.png"
            id="devcpu.views.DeviceManagerView"
            name="Device Manager"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="devcpu.views.hex.HexView"
            id="HexView"
            name="HexView">
      </view>
<!--      <view
            class="org.eclipse.ui.internal.console.ConsoleView"
            id="devcpu.console"
            name="Console"
            restorable="true">
      </view> -->
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="devcpu.dasmfilewizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="devcpu.perspectives.hybrid">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="devcpu.views.DeviceManagerView"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
         <view
               id="org.eclipse.egit.ui.RepositoriesView"
               minimized="false"
               relationship="stack"
               relative="devcpu.views.DeviceManagerView">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <separator
               name="separator1"
               visible="true">
         </separator>
         <command
               commandId="AssembleToDCPU"
               icon="icons/dcpu.png"
               label="Assemble to DCPU..."
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm16">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="AssembleToFloppy"
               icon="icons/disk.png"
               label="Assemble to floppy..."
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm16">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="WriteToDCPU"
               icon="icons/dcpu.png"
               label="Write to DCPU..."
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="WriteToFloppy"
               icon="icons/disk.png"
               label="Write to floppy..."
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="DevCPU.application"
            name="DevCPU">
         <property
               name="appName"
               value="DevCPU">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="devcpu.NavigatorCommandHandler"
            id="AssembleToDCPU"
            name="Assemble to DCPU...">
      </command>
      <command
            defaultHandler="devcpu.NavigatorCommandHandler"
            id="AssembleToFloppy"
            name="Assemble to floppy...">
      </command>
      <command
            defaultHandler="devcpu.NavigatorCommandHandler"
            id="WriteToFloppy"
            name="Write to floppy...">
      </command>
      <command
            defaultHandler="devcpu.NavigatorCommandHandler"
            id="WriteToDCPU"
            name="Write to DCPU...">
      </command>
      <command
            id="devcpu.open"
            name="Open View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hidden views"
            id="DevCPU.hiddenviews"
            name="Hidden views">
      </activity>
      <activityPatternBinding
            activityId="DevCPU.hiddenviews"
            pattern=".*(?&lt;!devcpu.{0,999})(jdt\.ui\.|ierarchy).*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.memoryRenderings">
      <renderingBindings
            defaultIds="org.eclipse.debug.ui.rendering.hexint,org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.signedint"
            primaryId="org.eclipse.debug.ui.rendering.hexint"
            renderingIds="org.eclipse.debug.ui.rendering.raw_memory,org.eclipse.debug.ui.rendering.ascii,org.eclipse.debug.ui.rendering.signedint,org.eclipse.debug.ui.rendering.unsignedint,org.eclipse.debug.ui.rendering.hexint">
         <enablement>
         </enablement>
      </renderingBindings>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="devcpu.launch.DCPULaunchDelegate"
            id="devcpu.dcpulaunch"
            modes="run, debug"
            name="DCPU Launch Configuration">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="devcpu.launch.DCPULaunchTabGroup"
            id="devcpu.launchtabgroup"
            type="devcpu.dcpulaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="devcpu.launch.DCPUModelPresentation"
            id="devcpu.memoryview">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="DCPU Adapter"
            id="devcpu.debugging"
            name="DCPU Adapter"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="devcpu.debugging"
            debugModelId="devcpu.memoryview">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoOpen="true"
            contextId="devcpu.debugging"
            viewId="org.eclipse.debug.ui.MemoryView">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="devcpu.dcpulaunch"
            icon="icons/dcpu.png"
            id="devcpu.launchimage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <primaryWizard
            id="devcpu.dasmfilewizard">
      </primaryWizard>
      <wizard
            category="DCPU"
            class="devcpu.wizards.DASMFileWizard"
            icon="icons/dasm.png"
            id="devcpu.dasmfilewizard"
            name="DCPU-16 Assembly File">
      </wizard>
      <category
            id="DCPU"
            name="DCPU">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="devcpu.dasmfilewizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="devcpu.editors.dasm.DASMEditor"
            default="false"
            extensions="dasm,dasm16"
            icon="icons/dasm.png"
            id="devcpu.dasmeditor"
            name="DASM Editor">
      </editor>
   </extension>
   <extension
         id="DASM"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="devcpu.editors.dasm.DASMDocumentSetupParticipant"
            extensions="dasm,dasm16">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="devcpu.dasm.coloring"
            class="devcpu.editors.dasm.SyntaxColoringPreferencePage"
            id="devcpu.dasm.coloring"
            name="Syntax Coloring">
         <keywordReference
               id="devcpu.keyword_dasm">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="devcpu.DASMPreferencesPage"
            id="devcpu.DASM"
            name="DASM">
         <keywordReference
               id="devcpu.keyword_dasm">
         </keywordReference>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="devcpu.keyword_dasm"
            label="DASM">
      </keyword>
   </extension>
  <!-- <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="devcpu.launch.DCPUSourceLocator"
            id="devcpu.sourcelocator"
            name="DCPU Source Locator">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="devcpu.launch.DCPUSourcePathComputerDelegate"
            id="devcpu.sourcepathcomputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceContainerTypes">
      <sourceContainerType
            class="devcpu.launch.DCPUSourceContainerTypeDelegate"
            id="devcpu.sourcecontainertype"
            name="DevCPU Source Container Type">
      </sourceContainerType>
   </extension>
   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            class="devcpu.launch.DCPUProcessFactory"
            id="devcpu.processfactory">
      </processFactory>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="devcpu.launch.DCPURunningStatusHandler"
            code="1"
            id="devcpu.statushandler.running"
            plugin="devcpu">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="devcpu.launch.DCPULaunchShortcut"
            icon="icons/dcpu.png"
            id="devcpu.launchshortcut"
            label="DCPU Launch Shortcut"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.dasm">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.dasm16">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>-->
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="devcpu.launch.DCPUBreakpoint"
            id="devcpu.breakpoint"
            markerType="org.eclipse.debug.core.lineBreakpointMarker">
      </breakpoint>
   </extension>

</plugin>
