<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="devcpu.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="devcpu.Perspective"
            id="DevCPU.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="devcpu.Development"
            name="Development">
      </category>
      <category
            id="devcpu.Emulation"
            name="Emulation">
      </category>
      <category
            id="devcpu.HardwareVisualization"
            name="Hardware Visualization">
      </category>
      <view
            allowMultiple="false"
            category="devcpu.HardwareVisualization"
            class="devcpu.views.SPED3View"
            icon="icons/sped.png"
            id="devcpu.views.SPED3View"
            name="SPED-3"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="devcpu.HardwareVisualization"
            class="devcpu.views.LEM1802View"
            icon="icons/lem.png"
            id="devcpu.views.LEM1802View"
            name="LEM1802"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="devcpu.HardwareVisualization"
            class="devcpu.views.KeyboardView"
            icon="icons/keyboard.png"
            id="devcpu.views.KeyboardView"
            name="Keyboard"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="devcpu.Emulation"
            class="devcpu.views.DCPUView"
            icon="icons/dcpu.png"
            id="devcpu.views.DCPUView"
            name="DCPU"
            restorable="true">
      </view>
      <view
            category="devcpu.Emulation"
            class="devcpu.views.DeviceManagerView"
            id="devcpu.views.DeviceManagerView"
            name="Device Manager"
            restorable="true">
      </view>
      <view
            category="devcpu.Development"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="developmentnavigator"
            name="Development Navigator">
      </view>
      <view
            class="org.eclipse.ui.internal.console.ConsoleView"
            id="devcpu.console"
            name="Console"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="developmentnavigator"
               minimized="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="devcpu.views.DeviceManagerView"
               minimized="false"
               ratio="0.6"
               relationship="bottom"
               relative="developmentnavigator">
         </view>
         <view
               id="devcpu.console"
               minimized="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:developmentnavigator?after=additions">
         <command
               commandId="AssembleToFloppy"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm16">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="AssembleToDCPU"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm16">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.dasm">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="DevCPU.application"
            name="DevCPU">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="DevCPU">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="devcpu.NavigatorCommandHandler"
            id="AssembleToFloppy"
            name="Assemble to floppy...">
      </command>
      <command
            defaultHandler="devcpu.NavigatorCommandHandler"
            id="AssembleToDCPU"
            name="Assemble to DCPU...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="developmentnavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="developmentnavigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Hidden views"
            id="DevCPU.hiddenviews"
            name="Hidden views">
      </activity>
      <activityPatternBinding
            activityId="DevCPU.hiddenviews"
            pattern=".*(?&lt;!devcpu.{0,999})(View|jdt\.ui\.|ierarchy).*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="devcpu.splashHandlers.InteractiveSplashHandler"
            id="devcpu.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
